body {
  padding: 2em;
}


.page-content {
  display: flex;
  flex-wrap: wrap;
}

.page-content > * {
  flex: 1 auto;
}

@media screen and (min-width: 901px) {
  #sidebar {
	padding-right: 1.5em;
  }
}

@media screen and (max-width: 900px) {
  #sidebar {
	min-width: 100%;
  }
  #content {
	min-width: 100%;
  }
}

.col, .col-header {
  padding-top: .75rem;
  padding-bottom: .75rem;
  /* background-color: rgba(0,123,255,.15); */
  background-color: rgba(108, 117, 125, .1);
  /* border: 1px solid rgba(0,123,255,.2); */
  border: 1px solid rgba(108, 117, 125, .15);
}

#categories, #newCategory, #transactions, #newTransaction {
	padding: 1em 0;
}

.page-header {
	padding-bottom: 1em;
}

.page-footer {
	padding-top: 3em;
	text-align: center;
}
